.navbar-default .navbar-nav>li>a {
    color: white;
}
 footer 
 {
 
  height:30px;
 }
 
#wrapper {
  margin-top:30px;
         }

#main,
#menu,
#sidebar {
  height:900px;
}

#main,
#menu,
#sidebar {
  background-color: #e9ebee;
}

#header {
    background-color: #4267b2;
    
}



.pull-right {
    float: right!important;
}
#s{
	margin:-8px;
}



.list-heading {
    padding: 20px 15px 0 15px;
	padding-top:-5px;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
.img-responsive {
    margin-bottom: 15px;
}
.badge{
	
	float:right;
	background-color:#e9ebee;
	color:#acb0b6;
}

	
	
	
.panel-title{
font-family:Times New Roman;
font-size:14px;

}

.h{
	font-family:cursive;
	font-size:15px;
	
}
.line{
	font-size:20px;
}
.z{
	 margin-bottom: 15px;
    margin-top: 0;
}
.image-post {
    margin-bottom: 15px;
}
#main {
    overflow: auto;
}

#main::-webkit-scrollbar{
	display:none;
}
.navbar-brand{
	margin-top:-9px;
}
.ph{
	font-family:Lucida Console;
	font-size:15px;
	background-color:#eac379;
}
.p{
	margin:0;
}
.place{
	height:71px;
	width:448px;
	border:transparent;
}
#brand{
	margin-left:-30px;
}
.list-group-item.active 
{
	background-color:white;
	color:darkblue;
	border-color:white;  
}

.list-group-item.active .list-group-item-text
{
	color:black;
}
	.tab-pane{
		font-size:15px;
		
	}
.container{
	margin-bottom:-33px;
}
.notifi{
	width:10px;
}
.navbar-nav>li>a{
	padding-right:0px;
}
.nav-pills>li>a {
    border-radius: 4px;
    color: black;
	
}
.font-size>li>a{
	font-size:12px;
	position: relative;
    display: block;
    padding: 10px 15px;
    padding-right: 0px;
    padding-left: 10px;
	color: blue;
}
.list-group .list-group-item.active .footer{
	color:grey;
}
